@using Bookify.Core.Models
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <div class="symbol symbol-50px me-4 ">
                <div class="symbol-label fs-2 fw-semibold text-success">
                    <i class="ki-duotone ki-category fs-2 text-primary">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                </div>
            </div>
            Categories
        </h3>
        <div class="card-toolbar">
            <a 
                href="javascript:;" 
                class="btn btn-sm btn-primary js-render-modal"
                data-title="Add Category" 
                data-url="/Categories/Create">

                <i class="ki-duotone ki-plus-square text-white">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
                Add
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <!--begin::Alert-->
            <div class="alert alert-warning d-flex align-items-center p-5">
                <!--begin::Icon-->

                <i class="ki-duotone ki-information-5 fs-2tx text-danger me-6 "><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                <!--end::Icon-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h4 class="mb-1 text-dark">No Categories Found !</h4>
                    <!--end::Title-->
                    <!--begin::Content-->
                    <span> Categories item is not Found !</span>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Alert-->
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped gy-7 gs-7">
                    <thead>
                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Last Updated On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <partial name="_CategoriesRow" model="item" />

                        }

                    </tbody>
                </table>
            </div>
        }
    </div>

</div>


@Html.AntiForgeryToken()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.js-toggle-status').on('click', function () {
                var btn = $(this);
                bootbox.confirm({
                    title: 'Delete item',
                    message: 'Are you sure to delete this item?',
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel',
                            className: 'btn-success'

                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm',
                            className: 'btn-danger'

                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post({
                                url: '/Categories/ToggleStatus/' + btn.data('id'),
                                data: {
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                success: function (lastUpdatedOn) {
                                    var row = btn.parents('tr');
                                    var status = row.find('.js-status');
                                    var newStatus = status.text().trim() === 'Deleted' ? 'Available' : 'Deleted';
                                    status.text(newStatus).toggleClass('badge-light-success badge-light-danger');
                                    row.find('.js-updated-on').html(lastUpdatedOn);
                                    row.addClass('animated flash');

                                    showSuccessMessage();
                                },
                                error: function () {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                });
               
            });
        });
    </script>
}