@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
}
@section Styles {
    <link href="~/assets/css/datatables.bundle.css" rel="stylesheet" />
}

<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between  w-100 p-5 mb-10  ">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-50px me-4 ">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <i class="ki-duotone ki-category fs-2 text-primary ">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                </i>
            </div>
        </div>

        <div class="d-flex flex-column pe-0 pe-sm-10 ">
            <h3 class="mb-1">Categories</h3>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div class="card-toolbar ">
            <a href="javascript:;"
               class="btn btn-sm btn-primary js-render-modal"
               data-title="Add Category"
               data-url="/Categories/Create">

                <i class="ki-duotone ki-plus-square text-white">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
                Add
            </a>
        </div>
    </div>
</div>
<div class="card shadow-sm">
    <partial name="_DataTableCardHeader" />
    <div class="card-body pt-0">
        @if (!Model.Any())
        {
            <div class="alert alert-warning d-flex align-items-center p-5">

                <i class="ki-duotone ki-information-5 fs-2tx text-danger me-6 "><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                <!--end::Icon-->
                <div class="d-flex flex-column">
                    <h4 class="mb-1 text-dark">No Categories Found !</h4>

                    <span> Categories item is not Found !</span>
                </div>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped gy-2 align-middle gs-7 js-DataTables" data-document-title="Categories Document">
                    <thead>
                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created On</th>
                            <th>Last Updated On</th>
                            <th class="print-no-columns ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <partial name="_CategoriesRow" model="item" />

                        }

                    </tbody>
                </table>
            </div>
        }
    </div>
</div>



@Html.AntiForgeryToken()
@section Plugins {
    <script src="~/assets/js/datatables.bundle.js"></script>
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}