@using Bookify.Core.Models
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}
@section Styles {
    <link href="~/assets/css/datatables.bundle.css" rel="stylesheet" />
}


<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between  w-100 p-5 mb-10  ">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-50px me-4 ">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <i class="ki-duotone ki-category fs-2 text-primary ">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                </i>
            </div>
        </div>

        <div class="d-flex flex-column pe-0 pe-sm-10 ">
            <h3 class="mb-1">Categories</h3>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div class="card-toolbar ">
            <a href="javascript:;"
               class="btn btn-sm btn-primary js-render-modal"
               data-title="Add Category"
               data-url="/Categories/Create">

                <i class="ki-duotone ki-plus-square text-white">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
                Add
            </a>
        </div>
    </div>
</div>
<div class="card shadow-sm">
    <div class="card card-p-0 card-flush">
        <div class="container">

            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon fs-1 position-absolute ms-4 mb-7">
                            <i class="ki-duotone ki-magnifier fs-1 position-absolute ">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                        </span>
                        <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search " />
                    </div>

                    <div id="kt_datatable_example_1_export" class="d-none"></div>
                </div>
                <!--begin::Export dropdown-->
                <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                    Export
                </button>
                <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="copy">
                            Copy to clipboard
                        </a>
                    </div>

                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="excel">
                            Export as Excel
                        </a>
                    </div>

                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="csv">
                            Export as CSV
                        </a>
                    </div>

                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="pdf">
                            Export as PDF
                        </a>
                    </div>
                </div>

                <div id="kt_datatable_example_buttons" class="d-none"></div>
            </div>
        </div>

    </div>
   
<div class="card-body">
    @if (!Model.Any())
    {
        <!--begin::Alert-->
        <div class="alert alert-warning d-flex align-items-center p-5">
            <!--begin::Icon-->

            <i class="ki-duotone ki-information-5 fs-2tx text-danger me-6 "><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>                <!--end::Icon-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column">
                <!--begin::Title-->
                <h4 class="mb-1 text-dark">No Categories Found !</h4>
                <!--end::Title-->
                <!--begin::Content-->
                <span> Categories item is not Found !</span>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Alert-->
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped gy-7 gs-7">
                <thead>
                    <tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Last Updated On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <partial name="_CategoriesRow" model="item" />

                    }

                </tbody>
            </table>
        </div>
    }
</div>
</div>



@Html.AntiForgeryToken()
@section Plugins {
    <script src="~/assets/js/datatables.bundle.js"></script>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $(".table").DataTable();
            $('.js-toggle-status').on('click', function () {
                var btn = $(this);
                bootbox.confirm({
                    title: 'Delete item',
                    message: 'Are you sure to delete this item?',
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel',
                            className: 'btn-success'

                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm',
                            className: 'btn-danger'

                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.post({
                                url: '/Categories/ToggleStatus/' + btn.data('id'),
                                data: {
                                    '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                                },
                                success: function (lastUpdatedOn) {
                                    var row = btn.parents('tr');
                                    var status = row.find('.js-status');
                                    var newStatus = status.text().trim() === 'Deleted' ? 'Available' : 'Deleted';
                                    status.text(newStatus).toggleClass('badge-light-success badge-light-danger');
                                    row.find('.js-updated-on').html(lastUpdatedOn);
                                    row.addClass('animated flash');

                                    showSuccessMessage();
                                },
                                error: function () {
                                    showErrorMessage();
                                }
                            });
                        }
                    }
                });

            });
        });
    </script>
}