@model BookFormViewModel

<div class="card shadow-sm">
    <div class="card-header">
        <div class="card-title">
            <h3 class="mb-1">@(Model.Id.Equals(0) ? "Add" : "Edit") Book</h3>

        </div>
    </div>
    <form method="post" asp-controller="Books" enctype="multipart/form-data">
        <div class="row">
            <div class="card-body ">
                @if (Model.Id > 0)
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="mb-7">
                    <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url('@(string.IsNullOrEmpty(Model.ImageUrl) ? "/images/no-cover_en.jpg" : Model.ImageThumbUrl)')">
                        <div class="image-input-wrapper w-125px h-125px"></div>
                        <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                               data-kt-image-input-action="change"
                               data-bs-dismiss="click">
                            <i class="ki-duotone ki-pencil fs-6"><span class="path1"></span><span class="path2"></span></i>
                            <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                        </label>
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="cancel"
                              data-bs-dismiss="click">
                            <i class="ki-outline ki-cross fs-3"></i>
                        </span>
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                              data-kt-image-input-action="remove"
                              data-bs-toggle="tooltip"
                              data-bs-dismiss="click"
                              title="Remove avatar">
                            <i class="ki-outline ki-cross fs-3"></i>
                        </span>
                    </div>
                    <div class="form-text">Only Tybes Allowed : .jpg .png .jpeg  ,And Max Size Allowed Is 2MB</div>

                    <span asp-validation-for="Image" class="text-danger d-block"> </span>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-7">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control form-control-solid" placeholder="Title" asp-for="Title" />
                                <label asp-for="Title"></label>
                            </div>
                            <span asp-validation-for="Title" class="text-danger d-block"> </span>
                        </div>
                        <div class="mb-7">
                            <div class="input-group input-group-solid flex-nowrap">
                                <span class="input-group-text">
                                    <i class="ki-duotone ki-abstract-30  fs-3">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </span>
                                <div class="overflow-hidden flex-grow-1">
                                    <select class="form-select form-select-solid form-select form-select-solid-solid rounded-start-0 border-start js-select2" data-control="select2" data-placeholder="Select Category" asp-for="SelectedCatgegories" asp-items="@Model.Categories">
                                        <option>Select Catgegory</option>
                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="SelectedCatgegories" class="text-danger d-block"> </span>
                        </div>
                        <div class="mb-7">
                            <div class="input-group input-group-solid flex-nowrap">
                                <span class="input-group-text">
                                    <i class="ki-duotone ki-address-book fs-3">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                                <div class="overflow-hidden flex-grow-1">
                                    <select id="AuthorId" class="form-select form-select-solid form-select form-select-solid-solid rounded-start-0 border-start" data-control="select2" data-placeholder="Select An Authors" asp-for="AuthorId" asp-items="@Model.Authors">
                                        <option value="">Select An Author</option>

                                    </select>
                                </div>
                            </div>
                            <span asp-validation-for="AuthorId" class="text-danger d-block"> </span>
                        </div>
                        <div class="mb-7">

                            <div class="form-floating mb-2">
                                <input type="text" class="form-control form-control-solid" placeholder="Publisher" asp-for="Publisher" />
                                <label asp-for="Publisher"></label>
                            </div>
                            <span asp-validation-for="Publisher" class="text-danger d-block"> </span>
                        </div>
                        <div class="mb-7">
                            <div class="mb-0">
                                <label asp-for="PublishingDate" class="form-label"></label>
                                <input type="text" asp-for="PublishingDate" class="form-control form-control-solid form-control form-control-solid-solid js-Datepicker" placeholder="Pick date & time" id="kt_datepicker_3" />
                            </div>
                            <span asp-validation-for="PublishingDate" class="text-danger d-block"> </span>
                        </div>
                        <div class="mb-7">

                            <div class="form-check form-switch mb-4">
                                <input class="form-check-input" type="checkbox" asp-for="IsAvailableForRental" />
                                <label class="form-check-label" asp-for="IsAvailableForRental">

                                </label>
                            </div>
                            <span asp-validation-for="IsAvailableForRental" class="text-danger d-block"> </span>
                        </div>
                        <div class="mb-7">

                            <div class="form-floating mb-2">
                                <input type="text" class="form-control form-control-solid" placeholder="Hall" asp-for="Hall" />
                                <label asp-for="Hall"></label>
                            </div>
                            <span asp-validation-for="Hall" class="text-danger d-block"> </span>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="mb-7">
                            <textarea asp-for="Description" placeholder="Description" class="form-control form-control-solid js-TinyMce" data-kt-autosize="true"></textarea>
                            <span asp-validation-for="Description" class="text-danger d-block"> </span>
                        </div>
                        <br>


                    </div>

                </div>
                <div class="card-footer">
                    <div class="modal-footer justify-content-start ">
                        <button type="submit" class="btn btn-primary ">Save</button>
                        <a asp-action="index" class="btn btn-light text-primary ms-5">Cancel</a>
                    </div>
                </div>

            </div>

        </div>


    </form>
</div>
@section Scripts
{
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>

    <partial name="_ValidationScriptsPartial" />
}